@charset "UTF-8";


@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to top,#49a09d, #9a63be);
    }

    section#login{
        width: 100vw;
        height: 490px;
    }

    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#cadastro{
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to top, #9a63be, #49a09d);
    }

    section#login{
        width: 950px;
        height: 490px;
    }

    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }
    section#login > div#cadastro{
        float: left;
        width: 50%;
    }
}

div#cadastro > h1{
    font-size: 2em;
}

div#cadastro > p {
    font-size: 1em;
    margin: 20px 0px;
}
    